body {
	margin: 0;
}

#navbar {
	display: grid;
	grid-template-columns: 50% repeat(3, 1fr); 
	grid-template-rows: 1fr;
	background-color: #be3144;
	color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	text-align: left;
	text-decoration: none;

}

a:link {
	text-decoration: none;
}

a {
	color: white;
}

.empty {
	grid-column: 1 / 2;
	grid-row: 1;
}

.about {
	grid-column: 2 /3;
	grid-row: 1;
}

.work {
	grid-column: 3;
	grid-row: 1;
}

.contact {
	grid-column: 4;
	grid-row: 1;
}


#welcome-section {
	text-align: center;
	padding: 10rem 10rem;
	background-color: #000;
	border: 0;
	background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1 {
	color: #f0f0f0;
}

#welcome-section h2 {
	color: #be3144;
}


#projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 50px;
	background-color: #45567d;
	padding-left: 40px;
}

img {
	width: 90%;
	height: auto;
}

#projects p {
	text-align: center;
	background-color: black;
	border-color: black;
	padding-top: 2em;
	padding-bottom: 2em;
	margin: 0;
	width: 90%;
	height: auto;

}

.p1 {
	color: white;
}


.p2 {
	color: white;
}

.p3 {
	color: white;
}

.p4 {
	color: white;
}

.p5 {
	color: white;
}

.p6 {
	color: white;
}

#proj1 {
	justify-content: center;
}

.h1 {
	text-align: center;
	background-color: #45567d;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

#links {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}















@media only screen and (max-width: 1000px) {
	#projects {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		padding-left: 100px;
	}

	img {
		max-width: 70%;
	}

	#projects p {
		text-align: center;
		max-width: 70%;
	}

	#welcome-section {
	text-align: center;


}
	
	#navbar {
		display: grid;
		grid-template-columns: repeat(3, 1fr); 
		grid-template-rows: 1fr;

	}

	.about {
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	}

	.work {
	grid-column: 2;
	grid-row: 1;
	text-align: center;
	}	

	.contact {
	grid-column: 3;
	grid-row: 1;
	text-align: center;
	}
		
}
